<nav class="navbar navbar-inverse">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/"><i class="fa fa-heartbeat fa-lg"></i>&ngsp;V-Doc</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><a routerLink="/app/map"><i class="fa fa-medkit fa-lg"></i>&ngsp;Nearby Hospitals</a></li>
            <li routerLinkActive="active"><a routerLink="/app/bdy-diag"><i class="fa fa-stethoscope fa-lg"></i>&ngsp;Diagnose</a></li>
              <li routerLinkActive="active"><a (click)="logout()" role="button"><i class="fa fa-sign-outt fa-lg"></i>&ngsp;Signout</a></li>
          </ul>
      </div><!--/.nav-collapse -->
  </div>
</nav>
