<div class="row">
  <div class="col-md-6 col-sm-6" *ngIf="innerWidth >= 768">
    <img src="assets/Images/doctor.jpg" class="img-responsive" alt="">
  </div>
  <div class="col-md-6 col-sm-6">
    <h2>Signup</h2>
    <form (ngSubmit)="signup(f)" #f="ngForm">
      <div class="form-group">
        <label class="control-label text-left" for="username">Username</label>
        <input type="text" ngModel required  name="username" id="username" placeholder="Enter your username here" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label text-left" for="email">Email</label>
        <input type="text" ngModel required  name="email" id="email" placeholder="Enter your email here" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label text-left" for="password">Password</label>
        <input type="password" ngModel required name="password" id="password" placeholder="Enter your password here" class="form-control">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Signup</button>
      </div>
    </form>
  </div>
</div>