.my-card {
  padding: 1em 3em;
  box-shadow: 0 2px 12px 0 rgba(204,204,204,.5);
  transition: all ease 0.2s;
  min-height: 420px;
}
.my-card:hover {
  box-shadow: 0 7px 12px 0 rgba(204,204,204,.5);
  transform: translateY(-5px);
}